.gpt3__brand{
    display:flex;
    justify-content: center;
}
.gpt3__brand p{
    margin:1rem  3rem 0 0;
}
@media screen and (max-width:700px) {

    .gpt3__brand p {
        margin:1rem  1rem 0 0;
    }
    .gpt3__brand p img{
        width: 60px;
    }
    
}
